<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <h2>Here is a nice page and stuff!</h2>
    <h3>Tokyo</h3>
    <img src="../static/Tokyo.jpeg" height="900" width="1200">
    <h3>Bali</h3>
    <img src="../static/bali.jpg" height="900" width="1200">
    <h3>Belize</h3>
    <img src="../static/Belize.jpg">
    <h3>Perfect Day at Coco Cay, Bahamas</h3>
    <img src="../static/perfect-day.jpg" height="900" width="1200">
    <h3>Tahi</h3>
    <img src="../static/Tahiti.jpg">
  </body>
</html>
